out/
*.zip
*.ipynb
Jenkins/
out/Jupyter notebook/
Redis/
out/Apache Tomcat/
out/Kibana/
generate_misconfig.py
landscape.yml
misconfigurations.json
*.egg-info
build/
.qhistory/
.env
__pycache__
honeybee_submission/
.DS_Store
